body {
    font-family: 'Inter', 'Montserrat';
}








.font_container_Inter-B {
    font-family: 'Inter';
}

.font-container_text-weight_B {
    font-weight: bold;
}



































